html, body {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #FFEEEE;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: #432000;
    user-select: none;
}

.container{
    max-width: 320px;
    padding-bottom: 20px;
    margin-top: 40px;
}

.container *{
    border: none;
    border-radius: 20px;
    display: block;
    width: 250px;
    text-align: center;
    font-size: 2rem;
    margin: 10px auto;
    font-family: 'Rubik', sans-serif;
}

.container img {
    max-width: 70%;
    height: auto; /* Ensures the image maintains its aspect ratio */
    display: block; /* Ensures the image is centered horizontally */
 
}

input{
    color: #264300;
    background-color: #DCE1EB;
}

button{
    color: #FDFDFD;
    background-color: #AC485A;
    transition: background-color ease 0.3s;
}

button:hover, button:active{
    background-color: hwb(83 2% 45%);
}

ul{
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-left: 0px;
    padding-bottom: 15px;
}

ul li {
    list-style: none;
    text-align: center;
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    font-size: 1.7rem;
    font-family: cursive;
    padding: 5px 10px;
    border-radius: 15px;
    flex-grow: 1;
    cursor: pointer;
    transition: background-color ease 0.3s;
}

li:hover, li:active{
    background-color: #FFECC7;
}

.noHover{
    background-color: transparent;
    box-shadow: none;
}

.noHover:hover{
    background-color: transparent;
    color: #432000
}